name: Test

on:
    push:
      branches:
        - main
        - unibe/main
    pull_request:
      branches:
        - main
        - unibe/main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.20.4'

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: npm run test
